@charset "UTF-8";
.mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
}

.box_join {
    display: none;
    width: 340px;
    height: 350px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
    text-align: center;
    font: 15px "microsoft yahei";
}

.box_join #closes_join {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.box_join .tip {
    height: 40px;
    background-color: #fff8f0;
    bottom: 45px;
    position: relative;
    text-align: center;
    font: 15px/40px "microsoft yahei";
}

.box_join .username {
    top: 130px;
    position: relative;
    width: 280px;
    border: 1px solid #e0e0e0;
    margin-left: 30px;
    float: left;
}

.username label,
.username input {
    float: left;
    font: 15px/33px "microsoft yahei";
    color: #666666;
}

.box_join .password {
    top: 160px;
    position: relative;
    width: 280px;
    border: 1px solid #e0e0e0;
    margin-left: 30px;
    float: left;
}

.password label,
.password input {
    float: left;
    font: 15px/33px "microsoft yahei";
    color: #666666;
}

.box_join .submit_join {
    top: 295px;
    position: relative;
    background: rgba(0, 0, 0, .2);
    height: 40px;
    text-align: center;
    font: 15px/40px "microsoft yahei";
}

.submit_join:hover {
    background: rgba(0, 0, 0, .1);
}

.box_login {
    display: none;
    width: 400px;
    height: 280px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
}

.box_login #closes_login {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.banner604 {
    position: relative;
}

.banner604 > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg) no-repeat top center;
}

.main {
    position: relative;
}

.slider {
    width: 730px;
    height: 453px;
    background-color: pink;
    margin: 12px 0 0 220px;
    float: left;
    position: relative;
}

.circle {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -66px;
}

.circle li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #3E3E3E;
    float: left;
    text-align: center;
    line-height: 18px;
    color: #fff;
    margin: 0 2px;
    cursor: pointer;
}

.arrow {
    display: none;
}

.arrow-l, .arrow-r {
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    margin-top: -31px;
    font: 600 18px/62px "宋体";
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .1);
}

.arrow-l {
    left: 0;
}

.arrow-r {
    right: 0;
}

.arrow-l:hover, .arrow-r:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.news {
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}

.jd-news {
    height: 200px;
    border-bottom: 1px dotted #E4E4E4;
}

.jd-news .dt, .lifeservi .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7;
    line-height: 43px;
}

.jd-news .dt h3, .lifeservi .dt h3 {
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}

.jd-news .dt a, .lifeservi .dt a {
    float: right;
    font: 13px/43px "宋体";
}

.jd-news .dd li {
    padding: 8px 0 0 15px;
    line-height: 18px;
}

.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;
}

.lifeservi {
    height: 251px;
    width: 249px;
    overflow: hidden;
}

.lifeservi .dd ul {
    width: 253px;
}

.lifeservi .dd {
    border-top: 1px dotted #E8E8E7;
    height: 251px;
    overflow: hidden;
}

.lifeservi .dd li {
    width: 62px;
    height: 70px;
    border: 1px solid #E4E4E4;
    float: left;
    border-top: 0;
    margin-left: -1px;
}

.lifeservi .dd a {
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}

.lifeservi .dd a i {
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url("../images/icon_lifeserv.png") no-repeat right top;
}

/*11huodong*/
.todays {
    position: relative;
}

.night {
    margin: 10px 0 28px 0;
}

.night-r {
    width: 1000px;
    height: 150px;
    float: right;
}

.night-r ul {
    width: 500%;
}

.night-r li {
    float: left;
    margin-right: 1px;
}